<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>update</title>
		<link href="/css/list.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/boostrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
		<script th:href="@{/webjars/bootstrap/4.4.1-1/js/boostrap.min.js}"></script>
		<div class="container">
			<h1>update form</h1>
			<div th:object="${userUpdate}">
				<div class="form-row mb-4">
					<label class="control-label">名前</label>
					<p class="form-control" th:text="*{name}"></p>
				</div>
				<div class="form-row mb-4">
					<label class="control-label">年齢</label>
						<p class="form-control" th:text="*{age}"></p>
				</div>
				<div id="righttext">
					<a class="btn btn-link" id="linktext" href="/crud/list">一覧画面</a>
				</div>
			</div>
			<form th:action="@{update/{id}}" th:method="get" th:object="${update}">
				<p>名前：<input class="form-control" type="text" th:field="*{name}" /></p>
				<p>年齢：<input class="form-control" type="text" th:field="*{age}" /></p>
			</form>
			<div>
				<input type="submit" value="更新" class="btn btn-primary" href="crud/list" />
			</div>
		</div>
	</body>
</html>